@{
    ViewData["Title"] = "Home Page";
}

<div class="lykke-heat-map" style="height: 500px; box-shadow: 0 0 5px lightgray;">
    <script src="js/lykke-heat-map.js?rnd=@Guid.NewGuid().ToString("N")"></script>
</div>


<iframe src="https://coin360.com/widget/map.html" title="Coin360.com: Cryptocurrency Market State" width="800" height="800"></iframe>