@{
    ViewData["Title"] = "Home Page";
}


<environment include="Development">
    <div class="lykke-tiles" style="height: 500px;">
        <script src="/js/GraphTiles/App.js?rnd=@Guid.NewGuid().ToString("N")"></script>
    </div>
    
    <hr/>
    <div class="lykke-heatmap" style="height: 500px">
        <script src="/js/HeatMap/App.js?rnd=@Guid.NewGuid().ToString("N")"></script>
    </div>

</environment>

<environment exclude="Development">
    <div class="lykke-tiles" style="height: 500px;">
        <script src="/js/lykke-tiles.min.js" asp-append-version="true"></script>
    </div>
    <hr/>
    <div class="lykke-heatmap" style="height: 500px;">
        <script src="/js/lykke-heatmap.min.js" asp-append-version="true"></script>
    </div>
</environment>

@* <iframe src="https://coin360.com/widget/map.html" title="Coin360.com: Cryptocurrency Market State" width="800" height="800"></iframe>  *@

